[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
python-dotenv = "*"
colorama = "*"
pyjwt = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
faker = "*"

[requires]
python_version = "3.13"

[scripts]
dev = "flask run"
db-init = "flask db init "
db-migrate = "flask db migrate"
db-upgrade = "flask db upgrade"
db-seed = "python -m app.seed"
db-downgrade = "flask db downgrade"
db-fullinit = "python -c \"import subprocess; subprocess.run(['pipenv', 'run', 'db-init']); subprocess.run(['pipenv', 'run', 'db-migrate']); subprocess.run(['pipenv', 'run', 'db-upgrade']); subprocess.run(['pipenv', 'run', 'db-seed'])\""
